# .npmrc
# Fichier de configuration npm pour la gestion des dépendances et des paramètres locaux.

# Enregistre les dépendances installées sans créer de fichier package-lock.json
package-lock=false

# Définit le registre principal des paquets
registry=https://registry.npmjs.org/

# Autorise les warnings sans bloquer l’installation
strict-peer-dependencies=false

# Définit le dossier de cache npm local
cache=.npm-cache
